div {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/sun.jpg);
    background-size: contain;
    background-position: center;
}